@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color:white;
  

}
$bg-color:#000;
.header{
  height: 100px;
  background-color:$bg-color;
  display: flex;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  justify-content: space-between;

 > img{
  height: 100%;
  
}
>div{
  width: 100%;
  margin-left: 4vmax;
  >a{
    font-size: 1.3rem;
    font-weight: 300;
    margin: 2vmax;
  }
}
>svg{
  font-size: 2rem;
  cursor: pointer;
  
}
}

a{

  color: white;
  text-decoration: none;
}